# Auto detect text files and perform LF normalization
* text=auto
*.pt filter=lfs diff=lfs merge=lfs -text
*.snappy filter=lfs diff=lfs merge=lfs -text
*.snappy.parquet filter=lfs diff=lfs merge=lfs -text
